@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&family=Ubuntu&display=swap');



body{
    background: rgba(0, 0, 0, 0.7) url('Image/Bg_Sell.jpg') !important;
    background-size: cover !important;
    background-blend-mode: darken !important;
}




.Padding-1{
    padding: 23px !important;
    /* color: white; */
}

.Leg-1{
    color: white;
}

.Option-1{
    background: transparent;
    color: black;
}


.Input_class{
    background: transparent !important;
    width: 100% !important;
    border: solid 2px white;
    color: white;
}

