@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');


:root{
    --clr-neutral-900: hsl(207,19%,9%);
    --clr-neutral-100: hsl(0,0%,100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}
*,
*::before,
*::after{
    box-sizing: border-box;
}


body {
    display: grid;
    min-height: 100vh;
    /* place-items: center; */
    line-height: 1.6;
    /* background-color: #13181c; */
    background: var(--clr-neutral-900);

}



#head{
    display: flex;
    justify-content:center;
}

.Imp{
    color: var(--clr-accent-400);
    width: 50%;
    display: flex;
    /* justify-content: center; */
    /* padding: auto; */
}

.button {
    cursor: pointer;
    /* display: inline; */
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.button:hover,
.button:focus{
    background-color: var(--clr-neutral-100);
    color:hsl(142, 90%, 61%);
    /* border-radius: 0.25em; */
}
.temp{
    list-style: none;
    display: grid;
    grid-template-columns: 1;
    gap:25px;
}
.Nav{
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}


.Title {
    /* height: 100%; */
    font-size: 45px;
    padding-top: 319px;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif
    /* float: left; */
}